html { 
	font-size: 5vw;
}
select { 
	font-size: 1em;
}
input { 
	font-size: 1em;
    text-align: center;
}
td.output, td.input {
	background-color: #eee;
}
select {
	width: 100%;
}  
table {
    margin-left:auto; 
    margin-right:auto;
    padding-bottom: 0.5em;
    text-align: center;
  }
