{% extends "base.html" %}

{% block title %}{{ js_di.info.title }}{% endblock %}

{% block content %}
{% for fun_name in js_di if fun_name != 'info' %}
    <form oninput="
    {% for out_name in js_di[fun_name].ret_list %}
        {{ out_name }}.value = convert_si({{ fun_name }}(
          {% for in_name in js_di[fun_name].fun_dict -%}
            parse_si({{in_name}}.value){{ "," if not loop.last else "" }}
        {%- endfor %})[{{ loop.index0}}]);
    {% endfor %} 
    ">
        <table><caption><a href="{{ js_di.info.js_fn }}">{{ fun_name }}</a></caption>

    {% for in_name, in_name_value in js_di[fun_name].fun_dict.items() %}
            <tr>
                <td>{{ in_name }}</td>
                <td class="input"><input name="{{ in_name }}"
                    value="{{ in_name_value }}"
                    maxlength="10" size="10"/></td>
                <td>{{ js_di['info']['inout'][in_name]['unit'] }}</td>
            </tr>
    {% endfor %} 

    {% for out_name in js_di[fun_name].ret_list %}
            <tr>
                <td>{{ out_name }}</td>
                <td class="output"><output name="{{ out_name }}"></output></td>
                <td>{{ js_di['info']['inout'][out_name]['unit'] }}</td>
            </tr>
    {% endfor %} 

        </table>
    </form>
{% endfor %} 
<script type="text/javascript" src="{{ js_di.info.js_fn }}"></script>
<script type="text/javascript" src="utils.js"></script>

{% endblock %}
