{% extends "base.html" %}

{% block title %}{{ js_di.info.title }}{% endblock %}

{% block content %}
{% for fun_name in js_di if fun_name != 'info' %}
    <form oninput="
    {% for out_name in js_di[fun_name].inout if js_di[fun_name].inout[out_name].type == 'output' %}
        {{ out_name }}.value = convert_si({{ fun_name }}(
          {% for in_name in js_di[fun_name].inout  if js_di[fun_name].inout[in_name].type == 'input' -%}
            parse_si({{in_name}}.value){{ "," if not loop.last else "" }}
        {%- endfor %})[{{ loop.index0}}]);
    {% endfor %}
    ">
        <table><caption><a href="{{ js_di.info.js_fn }}">{{ fun_name }}</a></caption>

    {% for name in js_di[fun_name].display_list %}
            <tr>
                <td>{{ name }}</td>
        {% if js_di[fun_name].inout[name].type == 'input' %}
                <td class="input"><input name="{{ name }}"
                    value="{{ js_di[fun_name].inout[name].value }}"
                    maxlength="10" size="10"/></td>
        {% elif js_di[fun_name].inout[name].type == 'output' %}
                <td class="output"><output name="{{ name }}"></output></td>
        {% endif %}
                <td>{{ js_di[fun_name].inout[name].unit }}</td>
            </tr>
    {% endfor %}

        </table>
    </form>
{% endfor %}
<script type="text/javascript" src="{{ js_di.info.js_fn }}"></script>
<script type="text/javascript" src="utils.js"></script>

{% endblock %}
